#titleMovie{
    margin: 20px 0 10px;
}
#infoMovie{
    margin-top: 5px;
}
#categorieMovie{
    margin: 25px 0;
}
.btn{
    border-radius: 0.5em;
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    margin: auto;
    font-size: 15px;
}
.btn:hover{
    background-color: lightcoral;
}
#btnDiv{
    display: flex;
    justify-items: center;
    margin-bottom: 50px;
}
#imgMovie{
    /* object-fit: cover; */
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}


@media (min-width: 1100px){
    .bigPapa{
        display: flex;
        align-items: center;
        text-align: justify;
    }
    .divImg{
        width: 50%;
    }
    .divData{
        width: 40%;
    }
    #imgMovie{
        height: 60vh;
    }
    #infoMovie{
        margin-top: 15px;
    }
    .btn{
        font-size: 20px;
    }
}