.sliderBox{
    /* border: 1px solid pink; */
    overflow-x: hidden;
    overflow-y: hidden;
}
.slider{
    height: 30vh;
    display: flex;
    gap: 7px;
    position: relative;
    cursor: grab;
    width: 100%;
}
.iconMovies{
    font-size: 20px;
    position: absolute;
}

#heart{
    right: 10px;
    bottom: 15px;
}

#pencil{
    right: 10px;
    bottom: 45px;
}

#info{
    left: 10px;
    bottom: 15px;
    font-size: 23px;
    color: white;
}

.item{
    width: 170px;
    /* border: 1px solid green; */
    position: relative;
}

.item img{
    pointer-events: none;/* para no arrastrar una imagen al seleccionarla  */
    width: 170px;
    height: 95%; 
    object-fit: cover;
    border-radius: 1em;
}




@media (min-width: 1100px){
    .sliderBox{
        margin: 0 40px;
    }
    .slider{
        height: 35vh;
        gap: 20px;
    }
    /* .item{
        width: 170px;
    } */
    .item:hover{
        -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
    }
}