.sliderBox{
    overflow-x: hidden;
    overflow-y: hidden;
    z-index:2;
    /* border: 1px solid pink; */
}
.slider{
    height: 30vh;
    display: flex;
    gap: 7px;
    position: relative;
    cursor: grab;
    width: 100%;
}
.iconMovies{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
}
#delete{
    right: 10px;
    top: 8px;
}
#heart{
    right: 10px;
    bottom: 15px;
}
#pencil{
    right: 10px;
    bottom: 45px;
}
#info{
    left: 10px;
    bottom: 15px;
    font-size: 23px;
    color: white;
}
.item{
    width: 170px;
    position: relative;
    /* border: 1px solid green; */
}
.sliderCategories{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 10vh;
    gap: 15px;
    width: 100%;
    /* cursor: grab; */
}
.itemCategories{
    width: 170px;
    position: relative;
    background-color: rgb(78, 78, 78);
    padding: 10px 5px;
    border-radius: 0.5em;
    text-align: center;
}
.categoryName{
    color: white;
}
a:link { 
    text-decoration: none;
}
.item img{
    pointer-events: none;/* para no arrastrar una imagen al seleccionarla  */
    width: 170px;
    height: 95%; 
    object-fit: cover;
    border-radius: 1em;
}

/* ORDENADOR */
@media (min-width: 1100px){
    .sliderBox{
        margin: 0 40px;
    }
    .slider{
        height: 35vh;
        gap: 20px;
    }
    .item:hover, .itemCategories:hover{
        -webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
    }
}